[Unit]
Description=db-tula API
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/var/www/dbtula-api
ExecStart=/usr/bin/dotnet /var/www/dbtula-api/B2A.DbTula.Api.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dbtula-api
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://localhost:5275

[Install]
WantedBy=multi-user.target
